{% extends "CoreBundle::base.html.twig" %}
{% block title %}{{ "menu.link"|trans }}{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'class': 'form_link_add'}}) }}

    {{ form_errors(form) }}
    	<table>
            {{ include ('CoreBundle::Link/form.html.twig') }}

      		<tr><td>{{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}, 'label': 'form.submit.update'}) }}</td></tr>
      	</table>
    {{ form_end(form) }}

{% endblock %}